- @title = " | Events"
- @subtitle = ""
- @body_class = "four"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-events2.jpg"}



.body
  .center
    .content
      #two.sidebar.right
        / .testimonial
        /   %p
        /     I attended Anna's 1st Speed Networking Event and it was really nice.  The attendance was good and it was very well organized. I got the opportunity to connect with a lot of great people.  Thanks Anna, I will definitely do it again.
        /     %br
        /     %i &mdash;Alzena McNeil, A. Marie Cakes/Event Planning
        /   %p
        /     %a{:href => "#"} Next testimonial >
        /     %br
        /     %a{:href => "/testimonials"} View All >
      #two.main
        .content
          .section.no-image
            %h1 Tax Workshop for Small Businesses

            %p
              %b Date:
              January 15, 2012
              %br
              %b Time:
              8:00am-12:00pm Noon
              %br
              %b Location:
              American Legion, 3415 Aldine Mail Rt., Houston, TX 77039
              %br
              %b Registration Fee:
              $25.00
              %br
              %b On-site Registration Fee:
              $30.00
              %br
              %b Details:
              Go to 
              %a{:href => "http://www.eventbrite.com/event/1812845269", :target => "_blank"}eventbrite.com
              to register.

          .section.no-image
            %h1 Add Your Own Event
            %p
              To have your event featured on this page, email
              %a{:href=> "mailto:events@annaknows.com"} events@annaknows.com
