- @title = " | Events"
- @subtitle = ""
- @body_class = "four"
- @testimonial = params[:testimony] || "events1"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-events2.jpg"}



.body
  .center
    .content
      #two.sidebar.right
        .testimonial
          = render "/testimonials/" + @testimonial + "/index.haml"              
        .ad
          %a{:href=> "mailto:anna@annaknows.com?Subject=AnnaKnows Banner&Body=I'm interested in purchasing a banner on AnnaKnows.com"}
            %img{:src=>"/images/ads/blank.gif"}


      #two.main
        .content
          .section.no-image
            %h1 Sip &amp; Shop Holiday Hautness
            %h4 Presented by Sip &amp; Shop
            %p
              %b Date:
              December 14, 2011
              %br
              %b Time:
              6:00am - 9:00pm
              %br
              %b Location:
              Momentum BMW 'Mini' Southwest 10002 SW Freeway  Houston, TX 77074
              %br
              %b Price:
              Free with
              %a{:href => "http://hohohouston.eventbrite.com/", :target => "_blank"}online registration
              , or $10 at the door
              %br
              %b Details:
              It's that time of year again... time to gather your girlfriends together and come join Glam Shop as we have another festive holiday soiree with some of Houston's hottest vendors, free cocktails, music and laughter. To RSVP, go to 
              %a{:href => "http://hohohouston.eventbrite.com/", :target => "_blank"} hohohouston.eventbrite.com

          .section.no-image
            %h1 Tax Workshop for Small Businesses
            %p
              %b Date:
              January 15, 2012
              %br
              %b Time:
              8:00am - 12:00pm Noon
              %br
              %b Location:
              American Legion, 3415 Aldine Mail Rt., Houston, TX 77039
              %br
              %b Registration Fee:
              $25.00
              %br
              %b On-site Registration Fee:
              $30.00
              %br
              %b Details:
              Go to 
              %a{:href => "http://www.eventbrite.com/event/1812845269", :target => "_blank"}eventbrite.com
              to register.


          .section.no-image
            %h1 Add Your Own Event
            %p
              To have your event featured on this page, email
              %a{:href=> "mailto:events@annaknows.com"} events@annaknows.com
