%h2 Alzena McNeil
%h3 A. Marie Cakes/Event Planning
%p I attended Anna's 1st Speed Networking Event and it was really nice.  The attendance was good and it was very well organized. I got the opportunity to connect with a lot of great people.  Thanks Anna, I will definitely do it again.
%p
  %a{:href => "?testimony=events2"} Next testimonial >
  %br
  %a{:href => "/testimonials"} View All >
