- @title = " | Testimonials"
- @subtitle = ""
- @body_class = "none"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-about.jpg"}



.body
  .center
    .content
      .sidebar.right
      
      .main
        .content
          .section.no-image
            %h1 Testimonials

            %h4 Lucille Nealey
            %p Anna is a very professional, self- motivated, dependable and reliable business woman that takes her business seriously. If you are looking for someone to promote your business please don't look any further.

            %h4 Daisy A. Presiado
            %p Anna is an extremely dedicated professional individual. Her integrity and conviction with what she does is highly respectable.

            %h4 Erica Harris, Avon Lady
            %p Anna is the MOST dedicated and determined professional! She is passionate about helping the business owner reach their customers! She is KNOWS! GO with Anna! 

            %h4 Bridget Renee
            %p Anna is your go to girl. When it comes to business she knows what she's talking about and can recommend you to anyone. I recommend her to everyone!  



            %h4 Kim Keeton, Sanctuary of the Awakened Soul
            %p AnnaKnows was absolutely an essential key to the final production of Soul Explosion & Green Living Expo'11 Houston.  Anna was able to provide with ease additional vendors and contacts.  Not only was she very prompt and responsive to our needs, but she also was proactive in finding ways to help with our event.  I absolutely recommend her services to anyone who is producing any event or needs networking ideas and tips. 

            %h4 Tara Chapman, Taramisu, Children's Clown
            %p AnnaKnows has been consistently helpful in growing my business and connecting me with new clients! Anna is a business owner herself who understands the passion it takes to get a new or small business off the ground and growing! As a children's clown without a store front, referrals are everything! Thank you Anna; I look forward to working with more of your clients in the future!
            
            %h4 Annie Soliz Garcia
            %p Anna, I just wanted to say Thank you again for all your Help, when I was looking for things (Clown & Kids Outfits) for My Granddaughter's Aubrey's 1st Birthday. Yes, Anna Knows, is the Go to Girl! Be Blessed.
                      
            %h4 Celeste, CPC, Owner, Celeste's Cakes N More
            %p Anna, I just want to thank you for connecting me with other small business owners at Anna's Speed Networking. It was so good to meet others just like me, Facebook is a great tool, but this event enable me to meet those people face to face and get to know them on a personal level and make the networking a reality. Anna you make it possible for small business owners to really increase their business and clientele. Thank you.
            


            %h4 Alzena McNeil, A. Marie Cakes/Event Planning
            %p I attended Anna's 1st Speed Networking Event and it was really nice.  The attendance was good and it was very well organized. I got the opportunity to connect with a lot of great people.  Thanks Anna, I will definitely do it again.

            %h4 Willow House by Ashley R. Jones, LUXE D&eacute;cor & Design
            %p I met Anna for the first time at a networking mixer, and she invited me to her AnnaKnows Speed Networking Event that following Sunday. I went, totally enjoyed myself, made some wonderful contacts that I actually can and DO use for my business, as well as other business needs I have in other markets, and have met a new client for my business through Anna! I feel that I am being put in the right circle by attending Anna's events, and I highly recommend anyone interested in growing their business to do the same! It will work.

            %h4 Danielle Woods, weeDecor
            %p The AnnKnows event was the most fun that I have had at a vendor show in quite some time.  I enjoyed the environment and support from fellow vendors.  I especially liked that there was a lot of traffic at the event!  I would recommend AnnaKnows events to EVERYONE!

            %h4 Tunisia Jones, CAG Creations
            %p The Speed Networking event sponsored by AnnaKnows was a fantastic way for me to advertise my business as well as meet some wonderful business owners and I look forward to a continued business and personal relationship. Anna is FANTASTIC and really cares about the small business owner!              