- @title = " | Testimonials"
- @subtitle = ""
- @body_class = "none"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-events2.jpg"}



.body
  .center
    .content
      .sidebar.right
      
      .main
        .content
          .section.no-image
            %h1 Testimonials

            %p Lorem ipsum
              