%h2 Tara Chapman
%h3 Taramisu, Children's Clown
%p AnnaKnows has been consistently helpful in growing my business and connecting me with new clients! Anna is a business owner herself who understands the passion it takes to get a new or small business off the ground and growing! As a children's clown without a store front, referrals are everything! Thank you Anna; I look forward to working with more of your clients in the future! 
%p
  %a{:href => "?testimony=general3"} Next testimonial >
  %br
  %a{:href => "/testimonials"} View All >
