%h2 Tunisia Jones
%h3 CAG Creations
%p The Speed Networking event sponsored by AnnaKnows was a fantastic way for me to advertise my business as well as meet some wonderful business owners and I look forward to a continued business and personal relationship. Anna is FANTASTIC and really cares about the small business owner!
%p
  %a{:href => "?testimony=personal1"} Next testimonial >
  %br
  %a{:href => "/testimonials"} View All >
