%h2 Willow House by Ashley R. Jones
%h3 LUXE D&eacute;cor & Design
%p I met Anna for the first time at a networking mixer, and she invited me to her AnnaKnows Speed Networking Event that following Sunday. I went, totally enjoyed myself, made some wonderful contacts that I actually can and DO use for my business, as well as other business needs I have in other markets, and have met a new client for my business through Anna! I feel that I am being put in the right circle by attending Anna's events, and I highly recommend anyone interested in growing their business to do the same! It will work.
%p
  %a{:href => "?testimony=events3"} Next testimonial >
  %br
  %a{:href => "/testimonials"} View All >
