%h2 Lucille Nealey
%p Anna is a very professional, self- motivated, dependable and reliable business woman that takes her business seriously. If you are looking for someone to promote your business please don't look any further.
%p
  %a{:href => "?testimony=personal2"} Next testimonial >
  %br
  %a{:href => "/testimonials"} View All >
