%h2 Erica Harris
%h3 Avon Lady
%p Anna is the MOST dedicated and determined professional! She is passionate about helping the business owner reach their customers! She is KNOWS! GO with Anna! 
%p
  %a{:href => "?testimony=personal4"} Next testimonial >
  %br
  %a{:href => "/testimonials"} View All >
