// HOME & GARDEN

.section.no-image
  %h1=@link6J[0]
  %p
    %a{:href => @link6[1]} << Back of Categories

  %h4 Heaven's Garden Lawn & Landscaping
  %p
    %b Blanca Edwards
    = " | "
    %a{:href => "http://www.facebook.com/heavensgardenlawn", :target => "_blank"} facebook.com/heavensgardenlawn
    = " | "
    %a{:href =>"mailto:heavensgarden@hotmail.com"} heavensgarden@hotmail.com
  //%img{:src => "/images/businesses/10-heavens.jpg"}
  %p
    %b Details:
    %br
    Lawn Mowing - Starting at $30: We are a lawn and landscaping company with 27 years of experience. Our prices are fair. We are dependable, honest and have many references if needed. We schedule promptly and quickly. Hours: 8 am - 7 pm, Monday - Saturday, 832.202.5477. 
  %a{:name => "hide1", :onclick => "return toggleMe('hide1')"}
  #hide1{:style => "display:none"}
    %p Our services include: lawn maintenance, mowing-all lawn areas, weedeating-where the mowers cannot go, edging-all sidewalks, street curbs, driveways, blowing of all hard surface areas, one time clean ups, shrub trimming, mulching of flowerbeds, cleaning of flowerbeds, sodding, creating and designing flowerbeds, seasonal color changeouts, and fertilization treatments.
  %p.hide.page-top
    %a{:onclick => "return toggleMe('hide1')", :href => "#hide1"}^ Show / Hide More
