%h2 Daisy A. Presiado
%p Anna is an extremely dedicated professional individual. Her integrity and conviction with what she does is highly respectable.
%p
  %a{:href => "?testimony=personal3"} Next testimonial >
  %br
  %a{:href => "/testimonials"} View All >
