%h2 Kim Keeton
%h3 Sanctuary of the Awakened Soul
%p AnnaKnows was absolutely an essential key to the final production of Soul Explosion & Green Living Expo'11 Houston.  Anna was able to provide with ease additional vendors and contacts.  Not only was she very prompt and responsive to our needs, but she also was proactive in finding ways to help with our event.  I absolutely recommend her services to anyone who is producing any event or needs networking ideas and tips. 
%p
  %a{:href => "?testimony=general2"} Next testimonial >
  %br
  %a{:href => "/testimonials"} View All >
