%h2 Bridget Renee
%p Anna is your go to girl. When it comes to business she knows what she's talking about and can recommend you to anyone. I recommend her to everyone!  
%p
  %a{:href => "?testimony=general1"} Next testimonial >
  %br
  %a{:href => "/testimonials"} View All >
