%h2 Annie Soliz Garcia
%p Anna, I just wanted to say Thank you again for all your Help, when I was looking for things (Clown & Kids Outfits) for My Granddaughter's Aubrey's 1st Birthday. Yes, Anna Knows, is the Go to Girl! Be Blessed.
%p
  %a{:href => "?testimony=general4"} Next testimonial >
  %br
  %a{:href => "/testimonials"} View All >
