%h2 Celeste, CPC
%h3 Owner, Celeste's Cakes N More
%p Anna, I just want to thank you for connecting me with other small business owners at Anna's Speed Networking. It was so good to meet others just like me, Facebook is a great tool, but this event enable me to meet those people face to face and get to know them on a personal level and make the networking a reality. Anna you make it possible for small business owners to really increase their business and clientele. Thank you.
%p
  %a{:href => "?testimony=events1"} Next testimonial >
  %br
  %a{:href => "/testimonials"} View All >
