// BEAUTY & HEALTH

.section.no-image
  %h1=@link6B[0]
  %h4 Arbonne International
  %p
    %b Britta Gray
    = " | "
    %a{:href => "http://www.healthyliving4life.myarbonne.com", :target => "_blank"} healthyliving4life.myarbonne.com
    = " | "
    %a{:href =>"mailto:britta.gray@yahoo.com"} britta.gray@yahoo.com
  %img{:src => "/images/businesses/2-arbonne.jpg"}
  %p
    %b Details:
    %br
    Arbonne is a botanically based product with a Swiss heritage. Made in the USA. We have Anti-aging, Hair & Body, Cosmetics, Health & Wellness, Weightloss, Aromasetionals. 
  %a{:name => "hide1", :onclick => "return toggleMe('hide1')"}
  #hide1{:style => "display:none"}
    %p
      %b Special Offer to AnnaKnows Visitors:
      %br
      Arbonne offers a Perferred Client discount to those who choose, for a one time fee of $29 allows a 20% discount on all products for an entire year.
    %p
      We also offer for first time preferred clients the amazing offer of what we call RSVP (Right Start Value Pack) you get $700 of products for $350... This is an amazing deal!
  %p.hide.page-top
    %a{:onclick => "return toggleMe('hide1')", :href => "#hide1"}^ Show / Hide More
  


